APP_NAME="Ruqya Practice Management"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOCALE=fr
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=ruqya
DB_USERNAME=root
DB_PASSWORD=

QUEUE_CONNECTION=sync

SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
