includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - database/factories
        - database/seeders

    level: 5

    excludePaths:
        - database/migrations/*
